img {
  width: 70%;
}

.column1, .column2, .column3, .column4 {
  float:left;
  width: 20%;
  padding: 20px;
  margin:10px;
}

@media screen and (max-width: 768px) and (min-width: 481px)  {
  body {
    background: #ff3333;
    color: #ffffff;
  }
}

@media screen and (max-width: 480px)  {
  body {
    background: #000000;
    color: #ffff00;
  }
}
